
@using TDV.Web.Areas.Portal.Models.Common.Modals
@using TDV.Web.Areas.Portal.Models.FuneralPackages
@model FuneralPackageViewModel

@await Html.PartialAsync("~/Areas/Portal/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="FuneralPackageInformationsTab">

        <div class="row">
            <div class="col-6 mb-3">
                <h6>@L("Status") :</h6>
                @L("Enum_FuneralStatus_" + (int)Model.FuneralPackage.Status)
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Code") :</h6>
                @Model.FuneralPackage.Code
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Description") :</h6>
                @Model.FuneralPackage.Description
            </div>

        </div>

    </div>
</div>

@await Html.PartialAsync("~/Areas/Portal/Views/Common/Modals/_ModalFooterWithClose.cshtml")