
@using TDV.Web.Areas.Portal.Models.Common.Modals
@using TDV.Web.Areas.Portal.Models.Districts
@model DistrictViewModel

@await Html.PartialAsync("~/Areas/Portal/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="DistrictInformationsTab">

        <div class="row">
            <div class="col-6 mb-3">
                <h6>@L("Name") :</h6>
                @Model.District.Name
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Order") :</h6>
                @Model.District.Order
            </div>
            <div class="col-6 mb-3">
                <h6>@L("IsActive") :</h6>
                @Model.District.IsActive
            </div>

            <div class="col-6 mb-3">
                <h6>(@L("City")) @L("DisplayProperty") :</h6>
                @Model.CityDisplayProperty
            </div>
            <div class="col-6 mb-3">
                <h6>(@L("Region")) @L("Name") :</h6>
                @Model.RegionName
            </div>

        </div>

    </div>
</div>

@await Html.PartialAsync("~/Areas/Portal/Views/Common/Modals/_ModalFooterWithClose.cshtml")