
@using TDV.Web.Areas.Portal.Models.Common.Modals
@using TDV.Web.Areas.Portal.Models.FuneralAddreses
@model FuneralAddresViewModel

@await Html.PartialAsync("~/Areas/Portal/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="FuneralAddresInformationsTab">

        <div class="row">
            <div class="col-6 mb-3">
                <h6>@L("Description") :</h6>
                @Model.FuneralAddres.Description
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Address") :</h6>
                @Model.FuneralAddres.Address
            </div>

            <div class="col-6 mb-3">
                <h6>(@L("Funeral")) @L("DisplayProperty") :</h6>
                @Model.FuneralDisplayProperty
            </div>
            <div class="col-6 mb-3">
                <h6>(@L("Quarter")) @L("Name") :</h6>
                @Model.QuarterName
            </div>

        </div>

    </div>
</div>

@await Html.PartialAsync("~/Areas/Portal/Views/Common/Modals/_ModalFooterWithClose.cshtml")