
@using TDV.Web.Areas.Portal.Models.Common.Modals
@using TDV.Web.Areas.Portal.Models.Cities
@model CityViewModel

@await Html.PartialAsync("~/Areas/Portal/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="CityInformationsTab">

        <div class="row">
            <div class="col-6 mb-3">
                <h6>@L("Code") :</h6>
                @Model.City.Code
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Name") :</h6>
                @Model.City.Name
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Order") :</h6>
                @Model.City.Order
            </div>
            <div class="col-6 mb-3">
                <h6>@L("IsActive") :</h6>
                @Model.City.IsActive
            </div>

            <div class="col-6 mb-3">
                <h6>(@L("Country")) @L("DisplayProperty") :</h6>
                @Model.CountryDisplayProperty
            </div>

        </div>

    </div>
</div>

@await Html.PartialAsync("~/Areas/Portal/Views/Common/Modals/_ModalFooterWithClose.cshtml")