@using TDV.Authorization
@using TDV.Web.Areas.Portal.Models.ContactDetails
@using TDV.Web.Areas.Portal.Startup
@model MasterDetailChild_Contact_ContactDetailsViewModel
@{
Layout = null;
}
<script abp-src="/view-resources/Areas/Portal/Views/MasterDetailChild_Contact_ContactDetails/Index.js" asp-append-version="true"></script>
<input type="hidden" id="MasterDetailChild_Contact_ContactDetailsId" value="@Model.ContactId" />

<div class="card card-custom gutter-b">

    <div class="card-header border-0 py-5">
        <h3 class="card-title align-items-start flex-column">
            <span class="card-label font-weight-bolder text-dark">@L("ContactDetails")</span>
            <span class="text-muted mt-3 font-weight-bold font-size-sm">@L("ContactDetailsHeaderInfo")</span>
        </h3>
        <div class="card-toolbar">
            <button id="ExportToExcelButton" class="btn btn-outline btn-outline-success btn-active-light-success me-1"><i class="fa fa-file-excel"></i> @L("ExportToExcel")</button>

            @if (IsGranted(AppPermissions.Pages_ContactDetails_Create))
            {
            <button id="CreateNewContactDetailButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNewContactDetail")</button>
            }
        </div>
    </div>

    <div class="card-body">
        <div class="form">
            <div class="row align-items-center mb-4">
                <div class="col-xl-12">

                    <div class="my-3">
                        <div class="input-group">
                            <input type="text" id="MasterDetailChild_Contact_ContactDetailsTableFilter" class="form-control m-input" placeholder='@L("SearchWithThreeDot")' value="@Model.FilterText">
                            <button id="GetContactDetailsButton" class="btn btn-primary" type="submit"><i class="flaticon-search-1"></i></button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div id="MasterDetailChild_Contact_AdvacedAuditFiltersArea" style="display: none" class="row mb-4">
            <div class="col-md-12">

            </div>

            <div class="col-md-3">
                <label for="MasterDetailChild_Contact_TypeFilterId">@L("Type")</label>
                <select class="form-select" name="TypeFilter" id="MasterDetailChild_Contact_TypeFilterId">
                    <option value="-1">@L("All")</option>
                    <option value="0">@L("Enum_ContactType_0")</option>

                    <option value="1">@L("Enum_ContactType_1")</option>

                    <option value="2">@L("Enum_ContactType_2")</option>

                </select>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="MasterDetailChild_Contact_ValueFilterId">@L("Value")</label>
                    <input type="text" class="form-control" name="valueFilter" id="MasterDetailChild_Contact_ValueFilterId">
                </div>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-xl-12">
                <span id="MasterDetailChild_Contact_ShowAdvancedFiltersSpan" class="text-muted clickable-item"><i class="fa fa-angle-down"></i> @L("ShowAdvancedFilters")</span>
                <span id="MasterDetailChild_Contact_HideAdvancedFiltersSpan" class="text-muted clickable-item" style="display: none"><i class="fa fa-angle-up"></i> @L("HideAdvancedFilters")</span>
            </div>
        </div>
        <div class="row align-items-center">
            <table id="MasterDetailChild_Contact_ContactDetailsTable" class="table align-middle table-row-dashed fs-6 gy-5 dataTable no-footer">
                <thead>
                    <tr>
                        <th></th>

                        <th>@L("Actions")</th>
                        <th>@L("Type")</th>
                        <th>@L("Value")</th>

                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>