
@using TDV.Web.Areas.Portal.Models.Common.Modals
@using TDV.Web.Areas.Portal.Models.Quarters
@model QuarterViewModel

@await Html.PartialAsync("~/Areas/Portal/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="QuarterInformationsTab">

        <div class="row">
            <div class="col-6 mb-3">
                <h6>@L("Name") :</h6>
                @Model.Quarter.Name
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Order") :</h6>
                @Model.Quarter.Order
            </div>
            <div class="col-6 mb-3">
                <h6>@L("IsActive") :</h6>
                @Model.Quarter.IsActive
            </div>

            <div class="col-6 mb-3">
                <h6>(@L("District")) @L("Name") :</h6>
                @Model.DistrictName
            </div>

        </div>

    </div>
</div>

@await Html.PartialAsync("~/Areas/Portal/Views/Common/Modals/_ModalFooterWithClose.cshtml")