@using TDV.Authorization
@using TDV.Web.Areas.Portal.Models.FixedPriceDetails
@using TDV.Web.Areas.Portal.Startup
@model MasterDetailChild_FixedPrice_FixedPriceDetailsViewModel
@{
Layout = null;
}
<script abp-src="/view-resources/Areas/Portal/Views/MasterDetailChild_FixedPrice_FixedPriceDetails/Index.js" asp-append-version="true"></script>
<input type="hidden" id="MasterDetailChild_FixedPrice_FixedPriceDetailsId" value="@Model.FixedPriceId" />

<div class="card card-custom gutter-b">

    <div class="card-header border-0 py-5">
        <h3 class="card-title align-items-start flex-column">
            <span class="card-label font-weight-bolder text-dark">@L("FixedPriceDetails")</span>
            <span class="text-muted mt-3 font-weight-bold font-size-sm">@L("FixedPriceDetailsHeaderInfo")</span>
        </h3>
        <div class="card-toolbar">
            <button id="ExportToExcelButton" class="btn btn-outline btn-outline-success btn-active-light-success me-1"><i class="fa fa-file-excel"></i> @L("ExportToExcel")</button>

            @if (IsGranted(AppPermissions.Pages_FixedPriceDetails_Create))
            {
            <button id="CreateNewFixedPriceDetailButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNewFixedPriceDetail")</button>
            }
        </div>
    </div>

    <div class="card-body">
        <div class="form">
            <div class="row align-items-center mb-4">
                <div class="col-xl-12">

                    <div class="my-3">
                        <div class="input-group">
                            <input type="text" id="MasterDetailChild_FixedPrice_FixedPriceDetailsTableFilter" class="form-control m-input" placeholder='@L("SearchWithThreeDot")' value="@Model.FilterText">
                            <button id="GetFixedPriceDetailsButton" class="btn btn-primary" type="submit"><i class="flaticon-search-1"></i></button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div id="MasterDetailChild_FixedPrice_AdvacedAuditFiltersArea" style="display: none" class="row mb-4">
            <div class="col-md-12">

            </div>

            <div class="col-md-3">
                <label for="MasterDetailChild_FixedPrice_TypeFilterId">@L("Type")</label>
                <select class="form-select" name="TypeFilter" id="MasterDetailChild_FixedPrice_TypeFilterId">
                    <option value="-1">@L("All")</option>
                    <option value="0">@L("Enum_PaymentMethodType_0")</option>

                    <option value="1">@L("Enum_PaymentMethodType_1")</option>

                </select>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="MasterDetailChild_FixedPrice_MinStartDateFilterId">@L("StartDateRange")</label>
                    <div class="input-group">
                        <input class="form-control m-input date-picker" type="text" placeholder="@L(" MinValue")" id="MasterDetailChild_FixedPrice_MinStartDateFilterId">
                        <span style="line-height: 40px;padding: 0 15px 0 15px;"> &mdash; </span>
                        <input class="form-control m-input date-picker" type="text" placeholder="@L(" MaxValue")" id="MasterDetailChild_FixedPrice_MaxStartDateFilterId">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="MasterDetailChild_FixedPrice_MinEndDateFilterId">@L("EndDateRange")</label>
                    <div class="input-group">
                        <input class="form-control m-input date-picker" type="text" placeholder="@L(" MinValue")" id="MasterDetailChild_FixedPrice_MinEndDateFilterId">
                        <span style="line-height: 40px;padding: 0 15px 0 15px;"> &mdash; </span>
                        <input class="form-control m-input date-picker" type="text" placeholder="@L(" MaxValue")" id="MasterDetailChild_FixedPrice_MaxEndDateFilterId">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <label for="MasterDetailChild_FixedPrice_CurrencyTypeFilterId">@L("CurrencyType")</label>
                <select class="form-select" name="CurrencyTypeFilter" id="MasterDetailChild_FixedPrice_CurrencyTypeFilterId">
                    <option value="-1">@L("All")</option>
                    <option value="0">@L("Enum_CurrencyType_0")</option>

                    <option value="1">@L("Enum_CurrencyType_1")</option>

                    <option value="2">@L("Enum_CurrencyType_2")</option>

                </select>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="MasterDetailChild_FixedPrice_MinPriceFilterId">@L("MinMax") @L("Price")</label>
                    <div class="input-group">
                        <input type="number" class="form-control m-input" placeholder="@L(" MinValue")" name="minPriceFilter" id="MasterDetailChild_FixedPrice_MinPriceFilterId" />
                        <input type="number" class="form-control m-input" placeholder="@L(" MaxValue")" name="maxPriceFilter" id="MasterDetailChild_FixedPrice_MaxPriceFilterId" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-xl-12">
                <span id="MasterDetailChild_FixedPrice_ShowAdvancedFiltersSpan" class="text-muted clickable-item"><i class="fa fa-angle-down"></i> @L("ShowAdvancedFilters")</span>
                <span id="MasterDetailChild_FixedPrice_HideAdvancedFiltersSpan" class="text-muted clickable-item" style="display: none"><i class="fa fa-angle-up"></i> @L("HideAdvancedFilters")</span>
            </div>
        </div>
        <div class="row align-items-center">
            <table id="MasterDetailChild_FixedPrice_FixedPriceDetailsTable" class="table align-middle table-row-dashed fs-6 gy-5 dataTable no-footer">
                <thead>
                    <tr>
                        <th></th>

                        <th>@L("Actions")</th>
                        <th>@L("Type")</th>
                        <th>@L("StartDate")</th>
                        <th>@L("EndDate")</th>
                        <th>@L("CurrencyType")</th>
                        <th>@L("Price")</th>

                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>