
@using TDV.Web.Areas.Portal.Models.Common.Modals
@using TDV.Web.Areas.Portal.Models.DataLists
@model DataListViewModel

@await Html.PartialAsync("~/Areas/Portal/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="DataListInformationsTab">

        <div class="row">
            <div class="col-6 mb-3">
                <h6>@L("Type") :</h6>
                @Model.DataList.Type
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Value") :</h6>
                @Model.DataList.Value
            </div>
            <div class="col-6 mb-3">
                <h6>@L("OrderNumber") :</h6>
                @Model.DataList.OrderNumber
            </div>
            <div class="col-6 mb-3">
                <h6>@L("IsActive") :</h6>
                @Model.DataList.IsActive
            </div>

        </div>

    </div>
</div>

@await Html.PartialAsync("~/Areas/Portal/Views/Common/Modals/_ModalFooterWithClose.cshtml")